{% extends "expenses/base.html" %}

{% load static %}

{% load humanize %}

{% block title %}
    Add Expense
{% endblock %}

{% block content %}

    <div class="container mt-5" style="max-width: 50%;">
        <h4 class="mb-5 text-center">Please complete the following details</h4>

       <div class="contact_form_container">
						<form action="{% url 'expenses:add' %}" id="contact_form" class="contact_form" method="post" autocomplete="off">
                        {% csrf_token %}
							<div class="row mb-3">
                                  <label for="inputText3" class="col-sm-2 col-form-label">Category</label>
                                  <select name="title" id="inputText3" class="contact_input trans_200" value = "E.g. Laundry" maxlength = "50" >
                                  <option value="food">Food</option>
                                  <option value="travel">Travel</option>
                                  <option value="clothes">Clothes</option>
                                  <option value="health_care">Health Care</option>
                                  <option value="utilities">Utilities</option>
                                  <option value="others">Others</option>
                                  </select>
                            </div>

                            <div class="row mb-3">
                              <label for="inputDesc3" class="col-sm-2 col-form-label">Currency</label>
                                        <select name="currency" class="contact_input trans_200" id="inputCurr3" value="E.g. INR" maxlength="50">
                                            <option value="rupees">Rupees</option>
                                            <option value="dollar">Dollar</option>
                                            <option value="euros">Euros</option>
                                        </select>
                            </div>
							
                            <div class="row mb-3">
                            <label for="inputDesc3" class=" col-form-label">Description(optional)</label>
                            <div class="input_item"><input type="text" name="desc" id="inputDesc3" class="contact_input trans_200" placeholder="Eg. party with friends" ></div> 
                             </div>

                            <div class="row mb-3">
                            <label for="inputPrice3" class="col-sm-2 col-form-label">Amount Paid</label>
                            <div class="input_item"><input type="number" class="contact_input trans_200" name="price" placeholder="E.g. 500" id="inputPrice3" required></div>
                             </div>
							

                            <div class="row mb-3">
                                <label for="inputDate4" class="col-sm-2 col-form-label">Date</label>
                                <input type="date" class="contact_input trans_200" id="birthday" name="date">
                            </div>
							{% comment %} <div class="input_item"><textarea class="contact_input contact_textarea trans_200" placeholder="Message" required="required"></textarea></div> {% endcomment %}
							<button type="submit" name="button" id="button" class="contact_button button">Send<span></span></button>
						</form>
		</div>




         {% comment %} <form action="{% url 'expenses:add' %}" method="post">

            {% csrf_token %}

            <div class="row mb-3">
                <label for="inputText3" class="col-sm-2 col-form-label">Category</label>
                <div class="col-sm-10" class="form-control">
                    <select name="title" id="inputText3" value = "E.g. Laundry" maxlength = "50" required>
                        <option value="food">Food</option>
                        <option value="travel">Travel</option>
                        <option value="clothes">Clothes</option>
                        <option value="health_care">Health Care</option>
                        <option value="utilities">Utilities</option>
                        <option value="others">Others</option>
                    </select>
                </div>

                <div class="row mb-3">
                    <label for="inputDesc3" class="col-sm-2 col-form-label">Currency</label>
                    
                    <div class="col-sm-10">
                        <select name="currency" id="inputCurr3" value="E.g. INR" maxlength="50" required>
                            <option value="rupees">Rupees</option>
                            <option value="dollar">Dollar</option>
                            <option value="euros">Euros</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputDesc3" class="col-sm-2 col-form-label">Description (optional)</label>

                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" name="desc" id="inputDesc3" maxlength="200"></textarea>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputPrice3" class="col-sm-2 col-form-label">Amount Paid</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="price" placeholder="E.g. 500" id="inputPrice3" required></div>
                    </div>

                <div class="row mb-3">
                    <label for="inputDate4" class="col-sm-2 col-form-label">Date</label>
                    <div class="col-sm-10">
                        <input type="date" id="birthday" name="date">
                    </div>
                </div>

                    <a class="btn btn-secondary float-end" href="{% url 'expenses:home' %}" role="button">Cancel</a>
                    <button type="submit" class="btn btn-primary float-end me-3">Submit</button>

                </form> 
            </div> {% endcomment %}


        {% endblock %}
